.preview-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    z-index: 100;
}

.preview-modal {
    position: relative;
    width: min(1100px, 90%);
    max-height: 90vh;
    overflow-y: auto;
    border-radius: 16px;
	background: white;
}

.preview-close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: none;
    font-size: 28px;
}